body{
    background-color: #0281FD;
    line-height: normal;
    margin: 0 auto;
}
.test{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    gap: 150px;
    background-color: aqua;
    justify-content: center;
    position: relative;
    
}
.hem{
    display: flex;
    background-color: #FD7E02;
    height: 60px;
    width: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    font-size: 20px;
}
.Om_mig{
    display: flex;
    background-color: #FD7E02;
    height:60px;
    width: 70px;
    text-align: center;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.School{
    display: flex;
    background-color: #FD7E02;
    height: 60px;
    width: 70px;
    text-align: center;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.fritid{
    display: flex;
    background-color: yellow;
    height: 60px;
    width: 70px;
    text-align: center;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.main{
    display: flex;
    flex-direction: row;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    padding-left: 30px;
    padding-top: 30px;
    gap: 60px;

}
.sak1{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.img{
    border-radius: 50%;
}
.img2{
    border-radius: 3%;
}
.ska2{
    background-color: #FD7E02;
    width: 300px;
    height: 200px;
    border-radius: 3%;
}
.sak3{
    background-color: #FD7E02;
    width: 200px;
    height: 250px;
    border-radius: 3%;
    font-size: 20px;
    padding-left: 10px;
}
.sak4{
    background-color: #FD7E02;
    width: 300px;
    height: 200px;
    border-radius: 3%;
}
.container3{
    padding-top: 20px;
    padding-left: 50px;
}
.sak5{
    background-color: #FD7E02;
    width: 250px;
    height: 500px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 3%;
}